{% extends 'main/base.html' %}

{% block content %}
<div class="container">
  <p>Uploaded files:
    {% for obj in documents %}
      <li>
        <a>{{ obj.name }}</a>
        <a class="btn btn-outline-info btn-sm" href="{{ obj.document.url }}" download> Download File</a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_document' obj.id %}">Delete File</a>
        | Uploaded on {{ obj.upload_date }} |
        {% if obj.notes %}
          <small>Notes: {{ obj.notes }}</small>
        {% endif %} </p>
      </li>
    {% endfor %}
</div>
{% endblock content %}